<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>Sample Application</title>
	<link th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
	<script th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
	<script type="text/javascript" src="/lib/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="/lib/lodash.js"></script>
	<style>
		pre {
			min-height: 250px;
		}
	</style>
	<!-- APP -->
	<script src="/app.js"></script>
	<script src="/errorHandlers.js"></script>
</head>
<body>
<br/>
<br/>
<div class="container">
	<div class="jumbotron">
		<h1>One page app</h1>
		<p>The application is here</p>
	</div>
</div>
<div class="container section1">
	<h1 class="page-header " id="page-header">Session timeout handling</h1>
	<p>
		<a href="javascript:void(0);" class="btn btn-default expireBtn">Close Session</a>
		<a href="javascript:void(0);" class="btn btn-default doStuff0">Get customer</a>
		<a href="javascript:void(0);" class="btn btn-default doStuff00">Clear</a>
	</p>
	<pre></pre>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container section2">
	<h1 class="page-header " id="page-header">API Calls</h1>
	<p>
		<a href="javascript:void(0);" class="btn btn-default doStuff1">GET</a>
		<a href="javascript:void(0);" class="btn btn-default doStuff2">POST</a>
		<a href="javascript:void(0);" class="btn btn-default doStuff3">PUT</a>
		<a href="javascript:void(0);" class="btn btn-default doStuff4">DELETE</a>
		<a href="javascript:void(0);" class="btn btn-default doStuff5">Clear</a>
	</p>
	<pre></pre>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container section3">
	<h1 class="page-header " id="page-header">ECHO Testing</h1>
	<p>
		<a href="javascript:void(0);" class="btn btn-default doStuff6">Write</a>
		<a href="javascript:void(0);" class="btn btn-default doStuff7">GET</a>
		<a href="javascript:void(0);" class="btn btn-default doStuff8">Clear</a>
	</p>
	<pre></pre>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="modal" id="loginModal">
	<div class="modal-dialog">
		<div class="">
			<div class="login-panel panel panel-default" style="margin: 20px 80px">
				<div class="panel-heading">
					<button data-dismiss="modal" class="close" type="button">
						<span aria-hidden="true">×</span>
						<span class="sr-only">Close</span>
					</button>
					<h3 class="panel-title">Sign In</h3>
				</div>
				<div class="panel-body">
					<form th:action="@{/login}" method="post" id="loginForm">
						<fieldset>
							<div class="form-group">
								<input class="form-control" placeholder="Username" name="username" type="text" autofocus="" value="user"/>
							</div>
							<div class="form-group">
								<input class="form-control" placeholder="Password" name="password" type="password" value="password"/>
							</div>
							<!-- Change this to a button or input when using this as a form -->
							<input type="submit" value="Log in"/>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>